/*start media for common styles*/
/*start tablet for common*/
@media (min-width: 640px) {
    .section+.section {
        margin-top: 120px;
    }

    .wrapper {
        padding: 0 20px;
    }

    .logo {
        font-size: 25px;
        line-height: 35px;
        max-width: 247px;
    }

    .title {
        margin-bottom: 40px;
    }

    .title-mini {
        margin-bottom: 40px;
    }

    .scroll {
        padding: 0 20px;
    }
}

/*end tablet for common*/
/*end media for common styles*/

/*start media for header*/
/*start tablet for header*/
@media(min-width: 640px) {
    .header {
        padding-top: 25px;
    }
}

/*end tablet for header*/
/*end media for header*/

/*start media for footer*/
/*start tablet for footer*/
@media(min-width: 640px) {
    .footer {
        padding: 50px 0;
    }

    .footer__wrapper {
        padding: 0 20px;
    }

    .footer__top {
        flex-direction: row;
        gap: 20px;
    }

    .footer__item {
        flex: 1 1 50%;

        &:nth-of-type(2) {
            padding-left: 49px;
        }
    }

    .footer__text {
        font-size: 18px;
        line-height: 23px;
    }

    .footer__bottom {
        margin-top: 50px;
    }

    .footer__nav-list {
        display: flex;
        align-items: center;
    }

    .footer__nav-item+.footer__nav-item {
        margin: 0 0 0 18px;
    }

    .footer__links {
        margin-top: 12px;
        flex-direction: row;
        gap: 18px;
    }
}

/*end tablet for footer*/
/*end media for footer*/

/*start media for mobile menu*/
/*start tablet for mobile menu*/
@media(min-width: 640px) {
    .mobile-menu__wrapper {
        padding-top: 25px;
    }

    .mobile-menu__list {
        padding-top: 260px;
    }

    .mobile-menu__link {
        font-size: 48px;
        line-height: 48px;
    }

    .mobile-meni__item+.mobile-meni__item {
        margin-top: 40px;
    }

    .mobile-menu__navigation {
        max-height: calc(100vh - 40px - 25px);
    }
}

/*end tablet for mobile menu*/
/*end media for mobile menu*/

/*start media for main*/

/*start additional styles for main*/
@media(max-height: 567px) and (orientation: landscape) {
    .main {
        height: auto;
    }

    .main__bg img {
        width: 100%;
        transform: unset;
        object-fit: cover;
    }

    .mobile-menu__list {
        padding-top: 54px;
    }

    .main__info {
        padding-top: 173px;
    }

    .main-btn__wrapper {
        margin-top: 95px;
    }

    .main__info-wrapper {
        padding-bottom: 40px;
    }
}

@media(min-height: 740px) and (max-width: 640px) {
    .main {
        height: auto;
    }

    .main__info {
        padding-top: 173px;
    }

    .main-btn__wrapper {
        margin-top: 95px;
    }
}

@media(min-width: 640px) and (orientation: portrait) {
    .main {
        height: 100vh;
    }

    .main__info {
        padding: 0;
    }

    .main__info-wrapper {
        justify-content: center;
    }
}

/*end additional styles for main*/

/*start tablet for main*/
@media(min-width: 640px) {
    .main {
        margin-bottom: 120px;
    }

    .main__date {
        margin-bottom: 20px;
    }

    .main-title {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 40px;
        max-width: 411px;
    }

    .main__text-text {
        max-width: 600px;
    }

    .main-btn__wrapper {
        margin-top: 40px;
    }
}

/*end tablet for main*/

/*end media for main*/

/*start media for quote*/
/*start tablet for quote*/
@media(min-width: 640px) {

    .quote__person-photo {
        width: 160px;
        height: 157px;
    }

    .quote__person-desc {
        margin-left: 150px;
        text-align: right;
        width: fit-content;
    }

    .quote__person-name {
        position: relative;
        padding-left: 45px;

        &::after {
            content: '';
            position: absolute;
            width: 35px;
            height: 1px;
            background-color: var(--black);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .quote__person-quote {
        margin-top: 30px;
        font-size: 22px;
        line-height: 26px;
    }

}

/*end tablet for quote*/
/*end media for quote*/

/*start media for info*/
/*start tablet for info*/
@media(min-width: 640px) {
    .info__photo {
        margin-top: 40px;
        height: 695px;
    }
}

/*end tablet for info*/
/*end media for info*/

/*start media for gallery*/
/*start tablet for gallery*/
@media(min-width: 640px) {
    .gallery__swiper {
        padding: 0 20px;
    }

    .gallery__img {
        width: 580px;
        height: 385px;
    }
}

/*end tablet for gallery*/
/*end media for gallery*/

/*start media for massmedia*/
/*start tablet for massmedia*/
@media(min-width: 640px) {
    .massmedia__wrapper {
        gap: 30px;
    }

    .card {
        max-width: 360px;
    }

    .card__photo {
        width: 360px;
        height: 460px;
    }

    .card__name {
        margin-top: 20px;
    }

    .card__text {
        margin-top: 10px;
    }
}

/*end tablet for massmedia*/
/*end media for massmedia*/

/*start media for price*/
/*start tablet for price*/
@media(min-width: 640px) {
    .price {
        padding: 74px 0;
    }

    .price__title {
        max-width: unset;
        margin-bottom: 10px;
    }

    .price__footnote {
        max-width: unset;
    }
}

/*end tablet for price*/
/*end media for price*/

/*start media for rools*/
/*start tablet for rools*/
@media(min-width: 640px) {
    .accordion {
        padding: 25px 0;
    }

    .accordion__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: unset;
    }

    .accordion__text {
        max-width: 45.7%;
    }

    .accordion--active .accordion__text {
        padding: 0;
    }

    .accordion__arrow {
        flex-shrink: 0;
    }

    .rools-btn__wrapper {
        margin-top: 40px;
    }
}

/*end tablet for rools*/
/*end media for rools*/

/*start media for video*/
/*start tablet for video*/
@media(min-width: 640px) {
    .video-js {
        margin-top: 30px;
        min-height: 60.313vw;
    }

    .video-js .vjs-big-play-button {
        width: 107px;
        height: 107px;
    }

    .video-js .vjs-big-play-button .vjs-icon-placeholder::before {
        width: 21px;
        height: 24px;
        transform: translate(calc(-50% + 4px), -50%);
    }
}

/*end tablet for video*/
/*end media for video*/

/*start media for buy*/
/*start tablet for buy*/
@media(min-width: 640px) {
    .buy {
        padding: 50px 0;
    }

    .buy__wrapper {
        padding: 0 20px;
    }

    .buy__title-medium {
        margin-bottom: 30px;
    }

    .checkbox__label {
        flex-direction: row;
    }

    .checkbox__label-link {
        text-indent: 0.5ch;
    }
}

/*end tablet for buy*/
/*end media for buy*/