/*common*/

:root {
    --white: #ffffff;
    --grey-light: #F4F4F4;
    --grey-medium: #BFBEBE;
    --gery-dark: #282828;
    --black: #000000;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    background-color: var(--black);
    color: var(--black);

}

h1 {
    margin-bottom: 20px;
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.wrapper {
    padding: 0 10px;
}

.display-none {
    display: none;
}

.logo {
    font-weight: 800;
    color: var(--white);
    text-transform: uppercase;
    max-width: 178px;
    font-size: 18px;
    line-height: 25px;
}

.text {
    font-size: 14px;
    line-height: 18px;

    &--white {
        color: var(--white);
    }
}

.btn {
    display: block;
    background-color: var(--white);
    text-align: center;
    padding: 18px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}

/*end common*/

/*header*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    max-width: 100vw;
    padding-top: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.burger {
    display: block;
    width: 20px;
    height: 16px;

    svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*end header*/

/*main*/

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main__date {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--white);
    font-size: 20px;
    line-height: 20px;
}

.main__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;
        transform: translateX(-17%);
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
}

.main__info {
    padding-top: 30vh;
    height: 100%;
}

.main__info-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
}

.main-btn__wrapper {
    margin-top: auto;
}

/*end main*/